.textbar {
    display: flex;
    align-items: stretch;
  }
  
  .textbar-input {
    flex-grow: 1;
    box-sizing: border-box;
  }
  
  .textbar-send {
    border-radius: 0;
    border: none;
    background-color: rgb(6, 182, 20);
    color: whitesmoke;
    width: 80px;
    height: 30px;
  }